# Server Configuration
NODE_ENV=development
PORT=3000
HOST=localhost

# MongoDB Configuration
MONGODB_URI=mongodb+srv://waleedhabib075:<db_password>@cluster0.pjw8d3o.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Firebase Configuration
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
FIREBASE_STORAGE_BUCKET=your-project.appspot.com

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here

# CORS Configuration
CORS_ORIGIN=http://localhost:8081
